/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/* common css */
.flex {
  display: flex;
}
/* custom css */
.container {
  max-width: 90%;
  margin: 0 auto;
}
.header-div {
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: #ec6333;
  position: fixed;
  z-index: 1;
  width: 90%;
  cursor: pointer;
}

.header-div h4 {
  font-size: 1.3rem;
  font-weight: 600;
}
.heading-div {
  justify-content: flex-start;
  align-items: center;
}
.heading-div button {
  margin: 0 0.6rem;
  padding: 0.2rem 0.4rem;
  font-weight: 900;
  font-size: 1rem;
  color: white;
  border: 2px solid white;
  background-color: transparent;
}
.heading-div h1 {
  font-size: 1.6rem;
  font-weight: 900;
}
.nav-div {
  margin-left: 1rem;
}
.nav-div li {
  margin-left: 0.6rem;

  font-size: 1.3rem;
  font-weight: 500;
}

/* news-section css */
.align-right {
  width: 1.9rem;
  text-align: right;
}
.news-section {
  padding: 3rem 1.5rem;
  background-color: #f6f6ef;
}
.news-div {
  position: relative;
  justify-content: flex-start;
  margin: 1rem 0;
}
.news-div h6 {
  color: #9c9c9c;
  font-size: 1.5rem;
  font-weight: 900;
}
.news-div h2 {
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  color: rgb(17, 0, 0);
}

.news-div span {
  color: #9c9c9c;
  font-size: 1.2rem;
  margin-left: 0.4rem;
}
.news-div h5 {
  color: #777777;
  font-size: 1.1rem;
  font-weight: 500;
}
.news-detail-div {
  margin-left: 1.2rem;
}
.news-div .fas {
  color: #9c9c9c;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.upvote-div {
  display: block;
  margin-left: 1rem;
}
.upvote-div p {
  line-height: 0;
  padding-left: 0.2rem;
  color: #ec6333;
  font-size: 1.2rem;
  font-weight: 900;
}
.media-menu-div {
  display: none;
}
.error-div {
  position: absolute;
  top: 5rem;
  font-size: 1.8rem;
  color: red;
}
/* media queries css */

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .header-div {
    width: 100%;
  }
  .nav-div,
  .login-div {
    display: none;
  }
  .block {
    display: block;
    margin: 0;
  }
  .upvote-div {
    margin: 1rem 0;
  }
  .upvote-div p {
    padding: 0.11rem;
  }
  .media-menu-div {
    display: block;
  }
  .media-menu-div input {
    visibility: hidden;
  }
  .media-nav-links {
    display: none;
    text-align: center;
    position: absolute;
    top: 3rem;
    right: 0rem;
    left: 0rem;
    background-color: #ec6333;
    /* padding: 1rem; */
    font-size: 1.5rem;
    font-weight: 500;
    z-index: 1;
  }
  .media-nav-links li {
    margin: 1rem 0;
  }
  #toggle:checked ~ .media-nav-links {
    display: block;
  }
  /* news section */
  .news-div {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 0.8rem;
  }
  .news-div h5 {
    margin-top: 0.7rem;
  }
  .align-right {
    width: 1rem;
    text-align: center;
  }
  .hamburger {
    font-size: 1.5rem;
    padding-top: 1.5rem;
  }
}
